body {
    font-family: 'PT Sans', sans-serif;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

#navBar {
    margin-bottom: 15px;
}

/* About me section */

#aboutSection {
    margin-bottom: 50px;
}

#profilePicture {
    height:10%;
}

#aboutMe {
    background-color: rgba(255, 255, 255, .60);
    border-radius:5px;
    margin-left: 40px;
}

/* Technologies Section */

#technologies {
    background-color: rgba(255, 255, 255, .60);
    border-radius: 5px;
    padding: 10px;
}

#techHeader {
    margin-top: 20px;
}

.tech {
    text-align: center;
}

h4 {
    font-size: 200%;
    text-align: center;
}

#portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, .60);
    border-radius: 5px;
    padding:10px;
}

h5 {
    background-color: rgba(255, 255, 255, .60);
    border-radius: 5px;
    padding: 10px;
}

/* Link colors */

a:link {
    color:white;
}

a:hover {
    color:lightgray
}

a:active {
    color:black;
}

a:visited {
    color: black;
}

#tech {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Contact Section */
#contact {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, .60);
    border-radius: 5px;
    padding-top: 10px; 
    padding-bottom: 10px;  
}

.contactMe {
    text-align: center;
}

.card {
    width: 32px;
}















@media only screen and (min-width: 600px) {
    #portfolio {
        height: 40%;
        width: 40%;
        margin-bottom: 20px;
    }
  }